<p id="notice"><%= notice %></p>


<div align="center">
  <%= will_paginate @users %>
</div>
<% @users.each do |user| %>
<div class="listing">
  <div class="row">
    <div class="col-xs-8 col-xs-offset-2">
      <div class="well well-lg text-center">
        <div class="post-title"><%= link_to user.name, user %></div>
        <div class="post-body">
          <%= user.email %> <br>
          No. of Post : <%= pluralize(user.microposts.count," Post") if user.microposts %>
        </div>
        <% if logged_in? and current_user.admin? %>
          <li><%= link_to "Delete This User", user_path(user),method: :delete, 
          data:{confirm:"Are you sure want to delete this user since it will delete all the post related to this user too? "}%></li>
        <% end %>
      </div>
    </div>
  </div>
</div>
<% end %>
<div align="center">
  <%= will_paginate %>
</div> 

  
