<p id="notice"><%= notice %></p>
	<h2 align="center">
		<strong>Welcome to <%= @user.name %> Page</strong>
	</h2>
	
	<div class="post-actions text-center">
		<h4 class="center description">
			<strong>Email:  <%= @user.email %></strong>
		</h4>
	</div>
	<hr>
	<div align="center">
	  <%= will_paginate @user_posts %>
	</div>
	<h2 align="center"><%= @user.name %> Posts</h2>
	<%= render 'microposts/micropost', obj: @user_posts %>
	<div align="center">
	  <%= will_paginate @user_posts %>
	</div>		
	
		
	
