<p id="notice"><%= notice %></p>

<div class="well col-xs-8 col-xs-offset-2">
	<h2 align="center">
		<strong>Name: </strong>
		<%= @user.name %>
	</h2>
	<hr>
	<h4 class="center description"><strong>Email:  <%= @user.email %></strong></h4>
	<div class="post-actions text-center">
		<%= link_to 'Edit', edit_user_path(@user) ,class: "btn btn-xs btn-success" %> |
		<%= link_to 'Back', users_path, class: "btn btn-xs btn-primary"%>
	</div>
</div>